#chatbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#newchats {
  overflow-y: scroll;
  flex-grow: 1;
  padding: 10px;
  background-color: #EFEEF1;
}

#topchats {
  overflow-y: scroll;
  flex-grow: 1;
  min-height: 40%;
  padding: 10px;
  background-color: #EFEEF1;
}

.chatbar-header {
  background-color: #6441A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

.not-upvoted {
  color: #B7B7B7;
}

.upvoted {
  color: #FF8B60;
}

.chat-line {
  margin-bottom: 5px;
}

.arrow {
  margin-right: .3em;
}

.upvote-count {
  margin-right: .3em;
  font-weight: 700;
  color: #FF8B60;
}

#chat_embed {
  width: 100%;
  height: 100%;
}

.fullheight {
  height: 100%;
}

.chat-name {
	font-weight: 700;
}
.chat-colon {
	margin-right: .375em;
	opacity: .85;
}
.chat-line .chat-colon:after {
	content: ':';
}
.chat-message {
	font-weight: 400;
}
.chat-line:not(.chat-action) .chat-message {
	color: inherit !important;
}

.emoticon {
	background-position: center center;
	background-repeat: no-repeat;
	margin: -5px 0;
	display: inline-block;
	vertical-align: middle !important;
	height: 1.5em;
}

.chat-badges {
	margin-right: .125em;
}
.chat-badges > div {
	margin-bottom: 1px;
	border-radius: 2px;
	height: 1em;
	min-width: 1em;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: .3em;
}

.chat-badge-mod {
	background-color: hsl(105, 89%, 36%);
	background-image: url(http://www.twitch.tv/images/xarth/badge_mod.svg);
}
.chat-badge-turbo {
	background-color: hsl(261, 43%, 45%);
	background-image: url(http://www.twitch.tv/images/xarth/badge_turbo.svg);
}
.chat-badge-broadcaster {
	background-color: hsl(0, 81%, 50%);
	background-image: url(http://www.twitch.tv/images/xarth/badge_broadcaster.svg);
}
.chat-badge-admin {
	background-color: hsl(40, 96%, 54%);
	background-image: url(http://www.twitch.tv/images/xarth/badge_admin.svg);
}
.chat-badge-staff {
	background-color: hsl(268, 55%, 13%);
	background-image: url(http://www.twitch.tv/images/xarth/badge_staff.svg);
}
.chat-badge-subscriber {
}
.chat-badge-bot {
	background-image: url(https://cdn.betterttv.net/tags/bot.png);
}
